<h1>My todos</h1>
<h1>I love {{coolGuys}} </h1>
<h2>My favourite food is {{ favoriteFood }}</h2>
<h3> My todos</h3>
<ul>
    {{#each todoList as |todoList|}}
    <li> {{todoList}}   </li>
    {{/each}}
</ul>